@media print {
    .print-hidden {
        display: none !important;
    }
}

.cv-image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.left-column {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.right-column {
    margin-left: 240px;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #fff;
    padding-left: 100px;
    padding-right: 100px;
}