/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/*
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #b3b9bf;
    background: #f9f9f9;
}
*/

a {
    color: #888;
    text-decoration: none;
}

a:hover,
a:active {
    color: #333;
}