body {
    margin: 0;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

h2 {
    font-size: 18px;
    margin-bottom: 0;
}

h3 {
    font-size: 16px;
    margin-bottom: 0;
}

hr {
    margin-top: 0;
}

p {
    margin-top: 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.progress-container {
    width: 100%;
    height: 1.5em;
    background-color: #f1f1f1;
}

.progressbar {
    background-color: #757575;
    height: 100%;
    line-height: inherit;
}

.blue,
.hover-blue:hover {
    color: #fff;
    background-color: #2196F3
}

.light-blue,
.hover-light-blue:hover {
    color: #000;
    background-color: #87CEEB
}

.text-white,
.hover-text-white:hover {
    color: #fff
}

.left {
    text-align: left;
    padding-left: 25px;
}

ul.menu {
    list-style-type: none;
}

ul.tabela {
    list-style-type: square;
}