.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#projects .columns1 .project {
    width: 100%;
}

.load_more_cont {
    padding: 10px 0 0;
}

.portfolio_block {
    width: 100%;
}

.portfolio_block .project .hover_img {
    position: relative;
}

.portfolio_block.project_descr {
    position: relative;
    padding: 37px 10px 14px;
    color: #979797;
    border: 0;
    border-bottom: 2px solid #ededed;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.portfolio_block .project:hover .project_descr {
    border-bottom-color: #765692;
}

.portfolio_block .project_descr h4 {
    margin-bottom: 11px;
    font-size: 15px;
}

.pretty {
    margin-top: 45px;
}

.pretty img {
    border-radius: 3px;
}

.pretty {
    margin-top: 0;
}

.pretty .img-responsive {
    transition-duration: 0.5s;
}

.pretty .gall a:hover .img-responsive {
    opacity: 0.45;
    transition-duration: 0.5s;
}

.pretty .plS {
    display: block;
}

.picsGall {
    max-width: 100%;
    height: auto;
}

.view h3 {
    margin-bottom: 5px;
    text-align: center;
    margin-top: 12px;
}

.view a {
    text-decoration: none;
    color: #2f2f2f;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
}

.view li {
    display: inline-block;
    height: 40px;
    background: none;
    text-decoration: none;
    color: #a9a9a9;
    font-size: 13px;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
}

.view a:hover {
    color: #1fcdff;
}

.view ul {
    display: block !important;
    margin-top: 7px;
    margin-bottom: 25px;
    text-align: center;
    padding-left: 0;
}

.view ul i {
    margin-right: 5px;
    font-style: normal;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 13px;
    color: #a9a9a9;
}

.view ul li {
    margin-right: 12px;
    text-align: center;
    display: inline-block;
    background: none;
    box-shadow: none;
    list-style: none;
}

.view ul a:hover,
.view ul a:hover i {
    color: #fd5f5b;
}

.view ul a {
    display: inline-block;
    color: #a9a9a9;
    font-size: 13px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
}

.blogpost_share {
    display: block;
    float: right;
}

.default {
    transition-duration: 1s;
}

.fixed {
    transition-duration: 1s;
    z-index: 999;
    position: fixed;
    top: -65px;
    padding: 20px 0;
    width: 100%;
    background-color: #101010!important;
}

#filter {
    margin-bottom: 50px !important;
    margin-left: -37px !important;
    margin-top: 37px !important;
    display: inline-block !important;
}

#filter li {
    margin-bottom: 30px !important;
    margin-right: 10px !important;
    border-radius: 0!important;
    background: none!important;
    padding: 0!important;
    box-shadow: none!important;
    padding-right: 0!important;
    padding-left: 0!important;
    padding-top: 0!important;
    float: left;
    list-style: none;
}

#filter li:last-child {
    margin-right: 0;
}

#filter li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 700;
    border-radius: 4px;
    padding: 10px;
    background: #2f2f2f;
    box-shadow: 0px 2px 0px 0px #000;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 11px;
}

#filter li a:hover {
    cursor: pointer;
    background: #1fcdff;
    box-shadow: 0px 2px 0px 0px #179abf;
}

#filter .current {
    background: #1fcdff;
    box-shadow: 0px 2px 0px 0px #179abf;
}

#filter {
    display: inline-block;
    margin-top: 45px;
}

#filter li a.selected {
    cursor: pointer;
    background: #1fcdff;
    color: #fff;
    box-shadow: 0px 2px 0px 0px #179abf;
}